= nested_form_for @initiative, :html => { :class => 'form-horizontal' } do |f|
  -if @initiative.errors.any?
    #error_explanation
      %h2= "#{pluralize(@initiative.errors.count, "error")} prohibited this initiative from being saved:"
      %ul
        - @initiative.errors.full_messages.each do |msg|
          %li= msg
  %legend Initiative Info
  = render 'shared/form_info'
  .control-group
    %label.control-label Initiative Name
    .controls
      = f.text_field :name, :class => 'required'
  .control-group
    %label.control-label Abbreviated Name
    .controls
      = f.text_field :abbreviation, :class => 'required'
      %span.help-inline 3-7 chars, no spaces
  .control-group
    %label.control-label Starting Date
    .controls
      = f.text_field :start_date, :class => 'datepicker required'
      %span.help-inline yyyy-mm-dd
  -#.control-group
    %label.control-label
    .controls
      = f.number_field :page_id
  .control-group
    %label.control-label Contact Email
    .controls
      = f.text_field :contact_email
  .control-group
    %label.control-label Site URL
    .controls
      = f.text_field :site_url
  .control-group
    %label.control-label Donate URL
    .controls
      = f.text_field :donate_url
  %legend Countries
  - if f.object.new_record?
    .alert Once you've created the initiative, you can come back and add countries.
  - elsif !Country.any?
    .alert You must #{link_to 'create countries', new_country_path} before adding them to initiatives
  - else
    .control-group
      .controls
        %span.help-block
          All join dates should be in
          %code yyyy-mm-dd
          format.
    = f.fields_for :country_initiatives do |ff|
      .control-group
        %label.control-label Country/Join date
        .controls
          = ff.collection_select :country_id, Country.all, :id, :name, {}, {:class => 'span2'}
          = ff.text_field :join_date, :class => 'span2 datepicker'
          = ff.link_to_remove raw('<span class="icon-minus"></span>'), :class => 'btn btn-mini btn-danger'
    = f.link_to_add :country_initiatives, :class => 'btn btn-mini btn-success' do
      %span.icon-plus
      add a country
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', initiatives_path, :class => 'btn'
