.container
  .row
    .span12
      .hero-unit.green
        %h1
          #{@initiative.name}
          %small a Peace Corps Initiative.
  .row
    .span2.hide-overflow
      - unless @initiative.contact_email.blank?
        %h3 Contact
        %address
          %strong
            = link_to @initiative.contact_email, "mailto:#{@initiative.contact_email}"
      &nbsp;
    .span6
      = raw @page.html
    .span4
      %ul.nav.nav-tabs.nav-stacked
        - if @initiative.site_url.blank?
          %li= link_to "Visit #{@initiative.name}", initiative_home_path(@initiative)
        - else
          %li= link_to "Visit #{@initiative.name}", @initiative.site_url, :target => '_blank'
        %li= link_to 'Donate', @initiative.donate_url, :target => '_blank' unless @initiative.donate_url.blank?
        - for country in @initiative.countries do
          %li= link_to "#{@initiative.name} in #{country.name}", (@initiative.initiative_url_for(country).blank? ? country_initiative_path(country, @initiative) : @initiative.initiative_url_for(country))
        %li= link_to 'View All Countries', countries_path
  .row
    .span12
      %ul.thumbnails
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag1-370x250.jpg'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag3-370x250.jpg'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag4-370x250.jpg'), countries_path, :class => 'thumbnail'
