.container
  .row
    .span12
      .hero-unit.red
        %h1
          = @user.name
          %small= @user.email
      - if @user.verified?
        .page-header
          %h1 Revisions
        %p #{@user.name} has made #{pluralize(@user.revisions.count, 'revision')} on the site.
        .page-header
          %h1 Roles
        %ul
          - for role in @user.roles do
            %li= role.name
      - else
        .hero-unit.blue
          %h1 This user is not verified.
