.container-fluid
  .row-fluid
    .span12
      = render 'pages/menu'
  .row-fluid
    .span12
      .well.green
        %h1
          %small #{pluralize(@revisions.count, 'Revision')} for 
          #{@page.title}
      .row-fluid
        .span6
          .well.blue.right
            %h3 Raw Text
        .span6
          .well.red
            %h3 Interpreted HTML
      - @revisions.each do |revision|
        .row-fluid
          .span12
            %h3
              = timeago(revision.created_at)
              %small
                by
                = revision.author.name
                = link_to 'view', [@page,revision]
        .row-fluid
          .span6
            %pre= revision.content
          .span6
            = markdown(revision.content)
