.container-fluid
  .row-fluid
    .span12
      = render 'pages/menu'
  .row-fluid
    .span12
      .well.green
        %h1
          %small #{pluralize(@revisions.count, 'Revision')} for 
          #{@page.title}
      .row-fluid
        .span4
          .well.blue.center
            %h3 Raw Text
        .span4
          .well.red.center
            %h3 Raw HTML
        .span4
          .well.orange.center
            %h3 Interpreted HTML
      - @revisions.each do |revision|
        .row-fluid
          .span12
            %h3
              = timeago(revision.created_at)
              %small
                by
                = revision.author.name
                = link_to 'view', [@page,revision]
            %hr
        .row-fluid
          .span4
            %pre= revision.content
          .span4
            %pre= revision.html
          .span4
            - if revision.prev
              = raw markdown(Differ.diff_by_line(revision.content, revision.prev.content).format_as(:html))
            - else
              = raw revision.html
