%h1 Listing revisions

%table
  %tr
    %th Author
    %th Content
    %th Page
    %th
    %th
    %th

  - @revisions.each do |revision|
    %tr
      %td= revision.author_id
      %td= revision.content
      %td= revision.page_id
      %td= link_to 'Show', revision
      %td= link_to 'Edit', edit_page_revision_path(revision.page, revision)
      %td= link_to 'Destroy', revision, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Revision', new_page_revision_path
