%p#notice= notice

%p
  %b Author:
  = @revision.author_id
%p
  %b Content:
  = @revision.content
%p
  %b Page:
  = @revision.page_id

= link_to 'Edit', edit_revision_path(@revision)
\|
= link_to 'Back', revisions_path
