%p#notice= notice

%p
  %b Author:
  = @revision.author_id
%p
  %b Content:
  = @revision.content
%p
  %b Page:
  = @revision.page_id

= link_to 'Edit', edit_page_revision_path(@revision.page, @revision)
\|
= link_to 'Back', page_revisions_path(@page)
