.container-fluid
  .row-fluid
    .span12
      = render 'pages/menu'
  .row-fluid
    .span12
      .well.green
        %h1
          = @page.title
          %small
            Authored by
            = @revision.author.name
            = timeago(@revision.created_at)
  .row-fluid
    .span4
      .well.blue.center
        %h3 Raw Text
    .span4
      .well.red.center
        %h3 Raw HTML
    .span4
      .well.orange.center
        %h3 Interpreted HTML
  .row-fluid
    .span4
      %pre= @revision.content
    .span4
      %pre= @revision.html
    .span4
      = raw @revision.html
