.container
  .row.visible-desktop
    .span6
      .hero-unit.red
        %h1 Peace Corps
        -#%p 25 countries, 2 Initiatives, reaching a continent.
    .span2
      = image_tag 'pc_logo.png'
    .span4
      .hero-unit.red
        %h1.center= cookies[:country]
  .row
    .span12
      .carousel.slide#splash
        .carousel-inner
          .item.active
            = image_tag 'http://placehold.it/1170x400'
            .carousel-caption
              %h4 Caption 1
              %p Description...
          .item
            = image_tag 'http://placehold.it/1170x400'
            .carousel-caption
              %h4 Caption 1
              %p Description...
        %a.carousel-control.left{'href' => '#splash', 'data-slide' => 'prev'} &lsaquo;
        %a.carousel-control.right{'href' => '#splash', 'data-slide' => 'prev'} &rsaquo;
  .row.equal-heights-1
    .span6
      .well.blue.equalize
        %h1 #{pluralize(@countries.count, 'Country')} in Africa
        %p Since 1961, Peace Corps Volunteers have been serving across Africa, working hand in hand with community partners to promote sustainable development and enhance understanding between Americans and Africans.
        %p We're currently serving in #{link_to pluralize(@countries.count, 'country'), countries_path} across Africa.
    .span6
      .well.orange.equalize
        %h1 Delivering Results
        %p Volunteers work in education, health, including #{link_to 'HIV/AIDS', ''} and #{link_to 'malaria prevention', ''}, business development, the environment, and agriculture and #{link_to 'food security', ''}.
        %p For more information about Peace Corps in Africa, see the #{link_to 'Peace Corps agency web site', 'http://www.peacecorps.gov/learn/wherepc/africa/', :target => '_blank'}, individual Peace Corps #{link_to 'country web sites', countries_path}, and #{link_to 'Initiatives in Africa', initiatives_path}.
  .row
    .span12
      %ul.thumbnails
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
