.container
  .row.visible-desktop
    .span6
      .hero-unit.red
        %h1 Peace Corps
        -#%p 25 countries, 2 Initiatives, reaching a continent.
    .span2
      = image_tag 'pc_logo.png'
    .span4
      .hero-unit.red
        %h1.center Africa
  .row
    .span12
      .carousel.slide#splash
        .carousel-inner
          .item.active
            = image_tag 'http://placehold.it/1170x400'
            .carousel-caption
              %h4 Caption 1
              %p Description...
          .item
            = image_tag 'http://placehold.it/1170x400'
            .carousel-caption
              %h4 Caption 1
              %p Description...
        %a.carousel-control.left{'href' => '#splash', 'data-slide' => 'prev'} &lsaquo;
        %a.carousel-control.right{'href' => '#splash', 'data-slide' => 'prev'} &rsaquo;
  .row.equal-heights-1
    .span6
      = link_to countries_path, :class => 'no-decoration' do
        .well.blue.equalize
          %h1 XX Countries in Africa
          %p Since 1961, Peace Corps Volunteers have worked in nearly every country in sub-Saharan Africa.
    .span6
      = link_to '', :class => 'no-decoration' do
        .well.orange.equalize
          %h1 Delivering Results
          %p Peace Corps has initiated three important continent-wide initiatives in Africa.
  .row.equal-heights-2
    .span12
      %ul.thumbnails.equalize
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://placehold.it/370x250'), countries_path, :class => 'thumbnail'
