= form_for @page, :html => { :class => 'form-horizontal' } do |f|
  = render 'shared/form_errors', :item => @page if @page.errors.any?
  %legend The basics
  = render 'shared/form_info'
  .control-group
    %label.control-label Country
    .controls
      = f.collection_select :country_id, Country.all, :id, :name, {}, { :class => 'required' }
  .control-group
    %label.control-label Page Title
    .controls
      = f.text_field :title, :class => 'required'
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
