.container
  .row
    .span12
      .hero-unit.red
        %h1 Edit page
  .row
    .span3
      .well.well-large.blue
        %h1 How do I...?
      = render 'shared/markdown_help'
    .span9
      = form_for @page do |f|
        = render 'shared/form_errors', :item => @page if @page.errors.any?
        %legend More than basics
        = render 'shared/form_info'
        .row
          .span5
            %label Page Title
            = f.text_field :title, :class => 'required span5'
          .span4
            %label Country
            = f.collection_select :country_id, Country.all, :id, :name, {}, { :class => 'required span4' }
        = f.fields_for :revisions do |ff|
          = render 'revisions/fields', :f => ff if ff.object.new_record?
        .form-actions
          = f.submit 'Save', :class => 'btn btn-primary'
      %h2 Revision History
      - for revision in @page.revisions do
        - unless revision.new_record?
          .row
            .span9
              %hr
            .span2
              %h4= revision.author.name
              %p= revision.created_at
            .span7
              = raw(revision.content)
