.container
  .row
    .span9
      .hero-unit.green
        %h1
          = @page.title
          %small= @page.country.name
  .row
    .span9
      = raw @page.html
    .span3
      %h2 Page Usage
      %ul.nav.nav-list
        - if @page.countries.any?
          %li.nav-header= pluralize(@page.countries.count, 'Country')
          - for country in @page.countries do
            %li= link_to country.name, country
        - if @page.initiatives.any?
          %li.nav-header= pluralize(@page.initiatives.count, 'Initiative')
          - for init in @page.initiatives do
            %li= link_to init.name, init
  .row
    .span9
      %hr
      %p
        created
        = pretty_time @page.created_at
        = ' | '
        last updated
        = timeago @page.updated_at
  .row
    .span9
      %h1 Revision History
      - for revision in @page.revisions
        %hr
        = raw(markdown(Differ.diff_by_line(revision.content, revision.prev.content).format_as(:html))) if revision.prev
