.container
  .row
    .span6.offset3
      .hero-unit.green
        %h1= @page.title
      = raw @page.html
  .row
    .span6.offset3
      %hr
      %p
        created
        = @page.created_at
        = ' | '
        updated
        = @page.updated_at
