%h1 Listing references

%table
  %tr
    %th Link source
    %th Link target
    %th
    %th
    %th

  - @references.each do |reference|
    %tr
      %td= reference.link_source.title
      %td= reference.link_target.title
      %td= link_to 'Show', reference
      %td= link_to 'Edit', edit_reference_path(reference)
      %td= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Reference', new_reference_path
