= form_for @country, :html => {:class => 'form-horizontal'} do |f|
  -if @country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label Country Name
    .controls
      = f.country_select :code
  -#= f.label :page_id
  -#= f.number_field :page_id
  .control-group
    %label.control-label Contact Email
    .controls
      = f.text_field :contact_email
  .control-group
    %label.control-label Site URL
    .controls
      = f.text_field :site_url
  .control-group
    %label.control-label Donate URL
    .controls
      = f.text_field :donate_url
  .control-group
    %label.control-label Current Number of Volunteers
    .controls
      = f.text_field :num_volunteers
  .control-group
    %label.control-label Total PCVs Served
    .controls
      = f.text_field :num_total_volunteers
  .control-group
    %label.control-label Peace Corps Start Date
    .controls
      = f.text_field :pc_start_date, :class => 'datepicker'
  .control-group
    %label.control-label Active
    .controls
      = f.check_box :active
  - f.fields_for :country_initiatives, @country.initialized_country_initiatives do |ff|
    - initiative = ff.object.initiative
    = ff.hidden_field :initiative_id
    .control-group
      %label.control-label= initiative.name
      .controls
        = ff.check_box :enable
        Enable
    .control-group
      %label.control-label Join Date
      .controls
        = ff.text_field :join_date
  .control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
