= form_for @country do |f|
  -if @country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.country_select :code
  = f.label :page_id
  = f.number_field :page_id
  = f.submit 'Save'
