= nested_form_for @country, :html => {:class => 'form-horizontal'} do |f|
  -if @country.errors.any?
    #error_explanation.alert.alert-error
      %h2= "#{pluralize(@country.errors.count, "form error")}:"
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg
  %legend Country Info
  = render 'shared/form_info'
  .control-group
    %label.control-label Country Name
    .controls
      = f.country_select :code, nil, {}, {:class => 'required'}
  .control-group
    %label.control-label Peace Corps Start Date
    .controls
      = f.text_field :start_date, :class => 'datepicker required'
  -#= f.label :page_id
  -#= f.number_field :page_id
  .control-group
    %label.control-label Contact Email
    .controls
      = f.text_field :contact_email
  .control-group
    %label.control-label Info URL
    .controls
      = f.text_field :info_url
      %span.help-inline PC Page
  .control-group
    %label.control-label Site URL
    .controls
      = f.text_field :site_url
  .control-group
    %label.control-label Donate URL
    .controls
      = f.text_field :donate_url
  .control-group
    %label.control-label Active
    .controls
      = f.check_box :active
      %span.help-inline Is this country currently open?
  %legend Initiatives
  - if f.object.new_record?
    .alert Once you've created the country and at least one initiative, you can come back and add initiatives.
  - elsif !Initiative.any?
    .alert You must #{link_to 'create initiatives', new_initiative_path} before adding them to countries.
  - else
    .control-group
      .controls
        %span.help-block
          All join dates should be in
          %code yyyy-mm-dd
          format.    
    = f.fields_for :country_initiatives do |ff|
      .control-group
        %span.control-label Initiative/Join Date
        .controls
          = ff.collection_select :initiative_id, Initiative.all, :id, :name, {}, {:class => 'span2 required'}
          = ff.text_field :join_date, :class => 'span2 datepicker'
          = ff.link_to_remove raw('<span class="icon-minus"></span>'), :class => 'btn btn-mini btn-danger'
      .control-group
        %label.control-label Website URL
        .controls
          = ff.text_field :site_url
      %hr
    = f.link_to_add :country_initiatives, :class => 'btn btn-mini btn-success' do
      %span.icon-plus
      add an initiative
  .control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
