.container
  .row
    .span12
      .hero-unit.blue
        %h1
          #{@country.name}.
          %small Since #{@country.start_date.year}.
  .row
    .span2
      %address
        %strong= @country.contact_email
    .span6
      %h1= @country.page.title
      = raw @country.page.html
    .span4
      %ul.nav.nav-tabs.nav-stacked
        %li= link_to "Visit Peace Corps | #{@country.name}", (@country.site_url.blank? ? country_home_path(@country) : @country.site_url), :target => '_blank'
        %li= link_to 'Donate', @country.donate_url, :target => '_blank' unless @country.donate_url.blank?
        - for initiative in @country.initiatives do
          %li= link_to "#{initiative.name} in #{@country.name}", (@country.country_url_for(initiative).blank? ? country_initiative_path(@country, initiative) : @country.country_url_for(initiative))
        %li= link_to 'View All Initiatives', initiatives_path
  .row
    .span12
      %ul.thumbnails
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag1-370x250.jpg'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag3-370x250.jpg'), countries_path, :class => 'thumbnail'
        %li.span4= link_to image_tag('http://static.pcsenegal.org/photos/ag4-370x250.jpg'), countries_path, :class => 'thumbnail'
