.container-fluid
  .row-fluid
    .span3
      %ul.nav.nav-list
        %li.nav-header Countries
        - for country in Country.all do
          %li= link_to country.name, country
    .span3
      %ul.nav.nav-list
        %li.nav-header Initiatives
        - for initiative in Initiative.all do
          %li= link_to initiative.name, initiative
    .span3
      %ul.nav.nav-list
        %li.nav-header Links
        %li= link_to 'Peace Corps', 'http://peacecorps.gov'
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
    .span3
      %ul.nav.nav-list
        %li.nav-header Contact us
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
  .row-fluid
    .span12
      %hr
      %p.center #{link_to 'Peace Corps | Africa', root_path} &copy; 2012
