.container-fluid
  .row-fluid
    .span3
      %ul.nav.nav-list
        %li.nav-header Countries
        - for country in Country.paginate(:page => 1, :per_page => (Country.count / 2)) do
          %li= link_to country.name, country
    .span3
      %ul.nav.nav-list
        %li.nav-header Countries cont.
        - for country in Country.paginate(:page => 2, :per_page => (Country.count / 2)) do
          %li= link_to country.name, country
        - if Country.count.odd?
          - for country in Country.paginate(:page => 3, :per_page => (Country.count / 2)) do
            %li= link_to country.name, country
    .span3
      %ul.nav.nav-list
        %li.nav-header Initiatives
        - for initiative in Initiative.all do
          %li= link_to initiative.name, initiative
    .span3
      %ul.nav.nav-list
        %li.nav-header Links
        %li= link_to 'Peace Corps', 'http://peacecorps.gov'
        %li.nav-header Contact us
        %li= link_to 'Email', ''
        %li= link_to 'Facebook', ''
        %li= link_to 'Twitter', ''
  .row-fluid
    .span12
      %hr
      %p.center #{link_to 'Peace Corps | Africa', root_path} &copy; 2012
