.container
  .row
    .span3
      %ul.nav.nav-list
        %li.nav-header Header
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
    .span3
      %ul.nav.nav-list
        %li.nav-header Header
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
    .span3
      %ul.nav.nav-list
        %li.nav-header Header
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
    .span3
      %ul.nav.nav-list
        %li.nav-header Header
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
        %li= link_to 'Footer links', ''
  .row
    .span12
      %hr
      %p Peace Corps | Africa &copy; 2012
