<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title= content_for?(:title) ? yield(:title) : "Peace Corps | Africa"
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              = stylesheet_link_tag    "application", :media => "all"
              = javascript_include_tag "application"
              = csrf_meta_tags
              = yield(:head)
  %body
    %header
      = render 'layouts/navigation'
    #main{:role => "main"}
      .container-fluid
        .row-fluid
          .span12
            .alert.alert-error.alert-block.center
              =link_to 'x', '#', :class => 'close', 'data-dismiss' => 'alert'
              %strong WARNING!
              This app is undergoing heavy development. Any and all data may be destroyed. This notice will be removed when this is no longer the case.
      = render 'layouts/messages' if flash.any?
      = render 'menu' rescue nil
      = yield
      .container-fluid
        - if Rails.env.development?
          .row-fluid
            .span12= debug(params)
    %footer
      = render 'layouts/footer'
