%p#notice= notice

%p
  %b Email:
  = @valid_email.email
%p
  %b Checked in at:
  = @valid_email.checked_in_at
%p
  %b Permissions:
  = @valid_email.permissions

= link_to 'Edit', edit_valid_email_path(@valid_email)
\|
= link_to 'Back', valid_emails_path
